body {
  background: #FFFEF5;
  margin: 5% 20%;
  font-family: 'Open Sans', sans-serif;
  font-family: 'M PLUS 1p', sans-serif;
}

li {
  font-size: 21px;
}

h1 {
  text-align: center;
}

nav ul {
  overflow: hidden;
}

nav ul li {
  float: left;
  width: 20%;
  border-left: 1px solid #e6e4e4;
  border-bottom: 1px solid #e6e4e4;
  list-style-type: none!important;
}

nav ul li a {
  display: block;
	width: 100%;
  padding: 10% 0;
  text-decoration: none; 
  text-align: center;
}

.content {
  width: 90%;
  margin: 0 auto;
}

#about img {
  width: 30%;
  height: 30%;
  float: left;
  margin-right: 5%;
}

#about ul {
  margin: 0% 0%;
}